# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env

# Environments variables
.env
.env.local

# IDE and Editor directories
.idea/
.vscode/
*.swp
*.swo

# Local database and dynamic artifacts
*.db
*.sqlite
*.sqlite3

# Scraping / Data outputs 
# Opcional: Se os JSONs forem sempre sobrescritos e você não quiser ter histórico deles
# *.json
# debug_amazon.html
